.countryContent {
  border-radius: 10px;
}
.img {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}
.imgSelf {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 250px;
  margin: 0.5rem 0;
  border-radius: 10px;
}
.countryTitle {
  text-align: center;
}
.frontContent {
  height: 100%;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.cardInside {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
}
.countryInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  text-align: center;
}
.iconSide {
  text-align: center;
}
.frontSideActive {
  transform: rotateY(-180deg);
  transition: all 0.5s linear;
}
.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: visible;
}
.frontSide {
  transition: all 0.5s linear;
  background-color: #d8eefc;
  border-radius: 20px;
}
.backSide {
  border-radius: 20px;
  background-color: #94d0fd;
  color: #094067;
  transition: all 0.5s linear;
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.backSideActive {
  transform: rotateY(0deg);
  transition: all 0.5s linear;
}
.countryContent {
  text-align: center;
  position: relative;
  perspective: 1500px;
  transition: all 0.5s linear;
}
.mainTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.littleTitle {
  text-decoration: underline;
  font-size: 0.7rem;
}

.moreBtn {
  padding: 1rem 0;
}
.moreBtnSelf {
  padding: 0.4rem 0.9rem;
  border: none;
  background-color: #0165b2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.moreBtnSelf:hover {
  background-color: #158dea;
}

.control {
  margin: 0.1rem 0;
}
.backSide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.cardFooter {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.cardFooter > a {
  display: inline-block;
}
.backBtn {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #0165b2;
}
.backBtn:hover {
  background-color: #094067;
  color: white;
}
.mapBtn {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  background: #094067;
  color: white;
  transition: all 0.3s ease-in-out;
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
}
.mapBtn:hover {
  color: #094067;
  background-color: #fff;
}
