.country {
  /* border: 3px solid green; */
  border-radius: 20px;
}
.countryContent {
  text-align: center;
  position: relative;
  perspective: 1500px;
  transition: all 0.5s linear;
  min-height: 43rem;
  width: 90%;
  margin: 0 auto 2rem auto;
}
.countryMainInfo {
  margin-bottom: 0.5rem;
}
.countryTitle {
  padding-top: 0.5rem;
  text-align: center;
  /* margin-bottom: 0.5rem; */
}
.mainTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.littleTitle {
  text-decoration: underline;
}
.imgSelf {
  /* border: 3px solid green; */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.img {
  /* border: 3px solid black; */
  width: 100%;
  max-width: 360px;
  display: block;
  border-radius: 10px;
  height: 15rem;
  margin: 0 auto;
  padding: 0 0.2rem;
}
.countryContent {
}
.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: visible;
}
.cardInside {
  /* border: 3px solid red; */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  /* height: 100%; */
  /* FIXME */
}
.frontContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  place-items: center;
}
.cardInside > * {
  /* border: 3px solid black; */
}
.frontSide {
  background-color: #f9e7cc;
  color: black;
  border-radius: 20px;
  transition: all 0.5s linear;
}
.backSide {
  border-radius: 20px;
  background-color: #f9e7cc;
  transition: all 0.5s linear;
  transform: rotateY(-180deg);
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.backSide > * {
  /* border: 3px solid black; */
}
.frontSideActive {
  transform: rotateY(-180deg);
  transition: all 0.5s linear;
}
.backSideActive {
  transform: rotateY(0deg);
  transition: all 0.5s linear;
}

.countryInfo {
  /* border: 3px solid green; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
}
.countryInfo > * {
  /* border: 3px solid red; */
}
.control {
  /* border: 3px solid green; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  border-bottom: 3px dashed black;
}
.control > * {
  /* border: 3px solid red; */
}
.iconSide {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.moreBtn {
  padding: 1rem 0;
}
.moreBtnSelf {
  padding: 0.4rem 0.9rem;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.moreBtnSelf:hover {
  background-color: #efefef;
}

.backIcons {
  /* border: 3px solid black; */
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.backIcons > * {
  /* border: 3px solid red; */
}
.cardFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.cardFooter > a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  border: 3px solid black;
  margin-top: 0.5rem;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  transition: all 0.3s ease-in-out;
}

.cardFooter > a:hover {
  color: white;
  background-color: black;
}
.backBtn {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.backBtn:hover {
  color: white;
  background-color: black;
}
.divider {
  /* height: 3px;
  width: 80%;
  margin: 0 auto 1rem auto;
  background-color: black; */
  border-bottom: 3px dashed black;
  margin: 1rem 0;
}
.mapBtn {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
@media screen and (min-width: 678px) {
  .countryContent {
    /* border: 3px solid black; */
    min-height: 35rem;
  }
  .control {
    /* border: 5px solid green; */
    gap: 0.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* margin-bottom: 0.3rem; */
  }
  .backSide {
    /* border: 3px solid black; */
    padding: 0 1rem;
  }
  .backSide > * {
    /* border: 3px solid red; */
  }
  .backControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 968px) {
  .control {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
  }
  .cardInside {
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-around;
    padding: 0 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;

    /* FIXME */
  }
  .cardInside {
    /* border: 3px solid red; */
  }
  .cardInside > * {
    /* border: 3px solid black; */
  }
  .countryContent {
    min-height: 23rem;
  }
  .frontContent {
    display: grid;
    place-items: stretch;
  }
}
