.title {
  text-align: center;
  margin: 2rem 0;
  color: #094067;
}
.listBorders {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 3rem 1.5rem;
}
.listItem {
  min-height: 35rem;
}
